paperless-ngx:
  image:
    tag: 2.20.3
  env:
    TZ: Europe/Zurich
    PAPERLESS_ENABLE_ALLAUTH: true
    PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
    PAPERLESS_SOCIALACCOUNT_PROVIDERS: >
        {
          "openid_connect": {
            "APPS": [
              {
                "provider_id": "authentik",
                "name": "authentik",
                "client_id": "1Ji8nyLQH6vVkyx6WW5U9w2fk2sDtblq655BqT9n",
                "secret": "7ans1aAF9oZj3hG3AilyiI7nnXokrnzdprhZosWWC3wRD98GRqUwmw3xv10hmw5xubqG9N3M9GkT8NtBXYwix6wO6BNGFTn8Lni4vXBmXyQsgeRgrwCWorNWksIDJ6WD",
                "settings": {
                  "server_url": "https://authentik.vexdev.com/application/o/paperless/.well-known/openid-configuration",
                  "claims": {"username": "email"}
                }
              }
            ],
            "OAUTH_PKCE_ENABLED": "True"
          }
        }
    PAPERLESS_AUTO_LOGIN: true
    PAPERLESS_AUTO_CREATE: true
    PAPERLESS_LOGOUT_REDIRECT_URL: "https://authentik.vexdev.com/application/o/paperless/end-session/"
  ingress:
    main:
      enabled: true
      hosts:
        - host: paperless.vexdev.com
          paths:
            - path: /
      annotations:
        spec.ingressClassName: traefik
        cert-manager.io/cluster-issuer: letsencrypt-prod
        traefik.ingress.kubernetes.io/service.serversscheme: http
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        traefik.ingress.kubernetes.io/router.tls: "true"
        traefik.ingress.kubernetes.io/router.middlewares: default-redirect-https@kubernetescrd,default-default-headers@kubernetescrd
      tls:
        - secretName: paperless-tls
          hosts:
            - paperless.vexdev.com
  postgresql:
    enabled: true
    primary:
      nodeSelector:
        vex.location: swisshome
      persistence:
        enabled: true
        storageClass: nfs-paperless
        accessMode: ReadWriteOnce
        size: 1Gi
  redis:
    enabled: true
  persistence:
    data:
      enabled: true
      storageClass: nfs-paperless
      accessMode: ReadWriteOnce
      size: 1Gi
    media:
      enabled: true
      storageClass: nfs-paperless
      accessMode: ReadWriteOnce
      size: 8Gi
    export:
      enabled: true
      storageClass: nfs-paperless
      accessMode: ReadWriteOnce
      size: 1Gi
    consume:
      enabled: true
      storageClass: nfs-paperless
      accessMode: ReadWriteOnce
      size: 4Gi
  nodeSelector:
    vex.location: swisshome

nfs-subdir-external-provisioner:
  nfs:
    server: 100.91.224.51
    path: /volume1/paperless
  storageClass:
    name: nfs-paperless
    reclaimPolicy: Retain # Prevents auto-deletion of data when PVC is removed
    pathPattern: "${.PVC.name}" # Ensures predictable directory names
    archiveOnDelete: false # Prevents the provisioner from archiving folders
    onDelete: retain # Explicitly retains folders when PVC is deleted
  nodeSelector:
    vex.location: swisshome
