apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: immich-cloudnativepg
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default

  source:
    repoURL: https://cloudnative-pg.github.io/charts
    chart: cloudnative-pg
    targetRevision: 0.21.5   # chart version (NOT operator version)
    helm:
      values: |
        crds:
          create: true

  destination:
    server: https://kubernetes.default.svc
    namespace: immich

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true