argo-cd:
  global:
    domain: argo.vexdev.com
  configs:
    cm:
      dex.config: |
        connectors:
          - type: oidc
            id: authentik
            name: authentik
            config:
              issuer: https://authentik.vexdev.com/application/o/argocd/
              clientID: $argo-secrets:authentik.client.id
              clientSecret: $argo-secrets:authentik.client.secret
              insecureEnableGroups: true
              scopes:
                - openid
                - profile
                - email
    rbac:
      policy.csv: |
        g, vexdev_admin, role:admin
        g, vexdev_ro, role:readonly
  dex:
    enabled: true
  notifications:
    enabled: false
  applicationSet:
    enabled: false
  server:
    service:
      annotations:
        traefik.ingress.kubernetes.io/service.serversscheme: https
        traefik.ingress.kubernetes.io/service.serverstransport: kube-system-skipverify@kubernetescrd
