cnpg:
  crds:
    create: true
immich:
  controllers:
    main:
      containers:
        main:
          image:
            tag: v2.4.1
  immich:
    persistence:
      library:
        existingClaim: photo-volume-claim
  valkey:
    enabled: true
  machine-learning:
    enabled: true
  server:
    controllers:
      main:
        containers:
          main:
            env:
              DB_USERNAME: immich
              DB_DATABASE_NAME: immich
              DB_HOSTNAME: immich-database-rw.cloudnative-pg
              DB_PASSWORD: immich
    persistence:
      synology:
        enabled: true
        mountPath: /synology
        existingClaim: nas-homes-volume-claim
nfs-photos:
  nfs:
    server: 100.91.224.51
    path: /volume1/photo
  storageClass:
    name: nfs-photo
    reclaimPolicy: Retain # Prevents auto-deletion of data when PVC is removed
    pathPattern: "${.PVC.name}" # Ensures predictable directory names
    archiveOnDelete: false # Prevents the provisioner from archiving folders
    onDelete: retain # Explicitly retains folders when PVC is deleted
  nodeSelector:
    vex.location: swisshome
nfs-homes:
  nfs:
    server: 100.91.224.51
    path: /volume1/homes
  storageClass:
    name: nfs-nas-homes
    reclaimPolicy: Retain # Prevents auto-deletion of data when PVC is removed
    pathPattern: "/" # Ensures predictable directory names
    archiveOnDelete: false # Prevents the provisioner from archiving folders
    onDelete: retain # Explicitly retains folders when PVC is deleted
  nodeSelector:
    vex.location: swisshome
