immich:
  image:
    tag: v2.4.1
  immich:
    persistence:
      library:
        existingClaim: photo-volume-claim
  machine-learning:
    enabled: true
  server:
    controllers:
      main:
        containers:
          main:
            env:
              IMMICH_LOG_LEVEL: verbose
              DB_VECTOR_EXTENSION: pgvector
              DB_HOSTNAME: immich-postgresql
              DB_USERNAME: immich
              DB_PASSWORD: immich
              DB_DATABASE: immich
    persistence:
      synology:
        enabled: true
        mountPath: /synology
        existingClaim: nas-homes-volume-claim
postgresql:
  image:
    repository: pgvector/pgvector
    tag: 0.8.0-pg17
  global:
    security:
      allowInsecureImages: true
    postgresql:
      auth:
        username: immich
        database: immich
        password: immich
  primary:
    resources:
      requests:
        memory: 1Gi
        cpu: 500m
    nodeSelector:
      vex.location: swisshome
    containerSecurityContext:
      readOnlyRootFilesystem: false
    initdb:
      scripts:
        create-extensions.sql: |
          CREATE EXTENSION cube;
          CREATE EXTENSION earthdistance;
          CREATE EXTENSION vectors;
  readReplicas:
    nodeSelector:
      vex.location: swisshome
  backup:
    cronjob:
      nodeSelector:
        vex.location: swisshome
nfs-photos:
  nfs:
    server: 100.91.224.51
    path: /volume1/photo
  storageClass:
    name: nfs-photo
    reclaimPolicy: Retain # Prevents auto-deletion of data when PVC is removed
    pathPattern: "${.PVC.name}" # Ensures predictable directory names
    archiveOnDelete: false # Prevents the provisioner from archiving folders
    onDelete: retain # Explicitly retains folders when PVC is deleted
  nodeSelector:
    vex.location: swisshome
nfs-homes:
  nfs:
    server: 100.91.224.51
    path: /volume1/homes
  storageClass:
    name: nfs-nas-homes
    reclaimPolicy: Retain # Prevents auto-deletion of data when PVC is removed
    pathPattern: "/" # Ensures predictable directory names
    archiveOnDelete: false # Prevents the provisioner from archiving folders
    onDelete: retain # Explicitly retains folders when PVC is deleted
  nodeSelector:
    vex.location: swisshome
